* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 20px 40px;
}

.logo {
  font-size: 2.5rem;
  font-weight: 300;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  font-size: 1.5rem;
  padding: 0px 10px;
}

section {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80vh;
  align-items: center;
}

.banner {
  position: relative;
  width: 30%;
  height: 100%;
}

.banner::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}

.banner__title {
  position: absolute;
  font-size: 3rem;
  font-weight: 300;
  top: 50%;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  z-index: 1;
  padding: 10px 20px;
}

.banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  z-index: -1;
}

.slider1 {
  background: linear-gradient(to left, #72787b, #10284f);
}

.slider2 {
  background: linear-gradient(to right, #72787b, #10284f);
  left: 50%;
}
